html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Or 100vh */
  width: 100%;
  overflow-x: hidden;
}

html:not(:has(body)) {
  padding: 0 !important;
  max-width: none !important;
}

:root {
  padding: 0 !important;
  max-width: none !important;
}

.hero-container {
  /* Set the background image */
  background-image: url('./assets/space.png');
  
  /* Ensure the image covers the entire screen */
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;  /* 100% of the viewport width */
  background-size: cover;
  background-position: center;
  
  /* Make sure content inside is positioned relative to this container */
  position: relative;
  overflow: hidden; /* Hide anything that might overflow */
}

.hero-title {
  color: white;
  font-size: 6rem; /* Large font size */
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Add a subtle shadow for readability */
}

.learn-more-link {
  color: white;
  text-decoration: none; /* Remove the default underline */
  font-size: 2rem; /* Adjusted to be 1/3 the size of the hero-title */
  font-weight: 600; /* Matching the font weight of the hero-title */
  transition: color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
  opacity: 0; /* Start hidden */
  animation: fadeIn 2s ease-in-out 2s forwards; /* Delayed fade-in animation */
}

.learn-more-text {
  color: white;
  border: 1px solid transparent;
}

.learn-more-link:hover {
  color: white;
  border-color: white;
}

/* Define the fade-in animation */
.fade-in-text {
  opacity: 0; /* Start invisible */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Optional: slide in from below */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .hero-title {
    font-size: 3.5rem;
  }
}